@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

.layout {
  height: 100vh;
  background-image: linear-gradient(to bottom, white, #d1fae5, #ecfdf5)
}

.navbar-root {
  display: flex;
  justify-content: space-between;
}