@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (.dark &); */

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-800);
}


 /* Through the raw css */
.animate-me {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Through Tailwind css */
@theme {
  --animate-marquee: marquee 10s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

.dark {
  --background: var(--color-neutral-800);
  --foreground: var(--color-neutral-50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
